<a href="https://www.facebook.com/Compare-The-Car-Part-141579313298368/" target="_blank">
  <button  class="mr-1 bg-fb mat-mini-fab"><i class="fab fa-facebook-f"></i></button>
</a>
<a href="https://twitter.com/comparecarpart" target="_blank">
  <button  class="mr-1 bg-tw mat-mini-fab">
    <i class="fab fa-twitter"></i>
  </button>
</a>
<!-- <button  color="primary" class="mr-1">
  <i class="fab fa-google-plus-g"></i>
</button> -->
<a href="https://www.instagram.com/comparethecarpart/" target="_blank"><button  class="mr-1 bg-in mat-mini-fab">
    <i class="fab fa-instagram"></i>
  </button>
</a>