//Home Page v1 Main Slider
.arrow-left {
	top: 0;
	bottom: 0;
	left: -10px;
}

.arrow-right {
	top: 0;
	right: -10px;
	bottom: 0;
}

//arrow
.arrow {
	margin: auto;
	position: absolute;
	border-radius: 100%;
	border: 0;
	transition: all 0.3s ease-in;
	width: 50px;
	cursor: pointer;
	height: 50px;
	box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
	&:active,
	&:focus {
		outline: none;
	}
}

.ngucarousel {
	.arrow {
		opacity: 0;
	}

	&:hover {
		.arrow {
			opacity: 1;
		}

		.arrow-left {
			left: 0;
		}

		.arrow-right {
			right: 0;
		}
	}
}

.slider-img-1 {
	// background-image: $slider-1-img;
}

.slider-img-2 {
	// background-image: $slider-2-img;
}

.slider-img-3 {
	// background-image: $slider-3-img;
}

.ngx-slider-content {
	position: absolute;
	right: 0;
	width: 38%;
	top: 20%;
	padding-right: 2rem;
	text-align: center;

	h1 {
		font-weight: 900;
		font-style: italic;
		line-height: 1.2;
		margin-bottom: 2.5rem;
	}
}

.home-main-banner {
	margin-top: 4rem;
}

.aside-banner {
	margin-left: 2rem;
	margin-bottom: 2rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.bannerStyle {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	height: 610px;
}

@media(max-width:1365px) {
	.bannerStyle {
		height: 480px;
	}
}

@media(max-width:1279px) {
	.aside-banner {
		margin-left: 0;
		margin-bottom: 0;
		display: inline-block;
		width: 48%;
		margin-top: 2rem;
		margin-right: 3%;

		&:last-child {
			margin: 0;
		}
	}
}

@media(max-width:767px) {
	.ngx-slider-content {
		h1 {
			font-size: 2rem;
		}

		h2 {
			font-size: 1.5rem !important;
		}
	}

	.bannerStyle {
		height: 300px;
	}
}

@media(max-width:560px) {
	.bannerStyle {
		height: 200px;
	}

	.aside-banner {
		margin-left: 0;
		width: 100%;
		margin-top: 2rem;
		margin-right: 0;

		&:last-child {
			margin: 0;
			margin-top: 2rem;
		}
	}

	.ngx-slider-content {
		h1 {
			margin-bottom: 1rem;
			font-size: 1.2rem;
		}

		h2 {
			font-size: 1.2rem;
		}

		button {
			transform: scale(0.8);
		}
	}
}

//logo Slider
embryo-BrandsLogo {
	.item {
		text-align: center;
		img {
			background: #eee;
			padding: 1rem;
			opacity: 0.5;
			transition: all 0.3s ease-in-out 0s;
		}
		a:hover {
			img {
				opacity: 1;
			}
		}
	}

}

body{
	overflow-x: hidden;
	overflow-y: auto;
}
@media(max-width:1199px){
	.card-details .col-gap>div {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}
